USE [master]
GO
/****** Object:  Database [TeaCompany]    Script Date: 26.02.2022 19:59:20 ******/
CREATE DATABASE [TeaCompany]
GO
USE [TeaCompany]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 26.02.2022 19:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Grade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionHistory]    Script Date: 26.02.2022 19:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeaId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ProducedQuantity] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_ProductionHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 26.02.2022 19:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 26.02.2022 19:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[TeaId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ShopId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 26.02.2022 19:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_Shop] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tea]    Script Date: 26.02.2022 19:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TypeId] [int] NOT NULL,
	[InStock] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Image] [image] NULL,
	[GradeId] [int] NOT NULL,
 CONSTRAINT [PK_Tea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 26.02.2022 19:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26.02.2022 19:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Grade] ON 

INSERT [dbo].[Grade] ([Id], [Name]) VALUES (1, N'Черный')
INSERT [dbo].[Grade] ([Id], [Name]) VALUES (2, N'Красный')
INSERT [dbo].[Grade] ([Id], [Name]) VALUES (3, N'Белый')
SET IDENTITY_INSERT [dbo].[Grade] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionHistory] ON 

INSERT [dbo].[ProductionHistory] ([Id], [TeaId], [DateTime], [ProducedQuantity], [UserId]) VALUES (1, 1, CAST(N'2022-02-26T17:00:23.240' AS DateTime), 456, 1)
SET IDENTITY_INSERT [dbo].[ProductionHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Производитель')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Продавец')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([Id], [DateTime], [TeaId], [Quantity], [ShopId], [Price], [UserId]) VALUES (1, CAST(N'2022-02-26T19:23:47.203' AS DateTime), 1, 12, 1, CAST(234.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[Sale] ([Id], [DateTime], [TeaId], [Quantity], [ShopId], [Price], [UserId]) VALUES (2, CAST(N'2022-02-26T19:23:51.210' AS DateTime), 1, 12, 1, CAST(234.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[Sale] ([Id], [DateTime], [TeaId], [Quantity], [ShopId], [Price], [UserId]) VALUES (3, CAST(N'2022-02-26T19:23:53.140' AS DateTime), 1, 12, 1, CAST(234.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[Shop] ON 

SET IDENTITY_INSERT [dbo].[Shop] OFF
GO
SET IDENTITY_INSERT [dbo].[Tea] ON 

SET IDENTITY_INSERT [dbo].[Tea] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([Id], [Name]) VALUES (1, N'Крупнолистовой')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (2, N'Мелколистовой')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (3, N'В пакетиках')
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Surname], [Login], [Password], [RoleId]) VALUES (1, N'Rail', N'Gimatdinov', N'1', N'1', 1)
INSERT [dbo].[User] ([Id], [Name], [Surname], [Login], [Password], [RoleId]) VALUES (2, N'Alex', N'Smirnov', N'2', N'2', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[ProductionHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProductionHistory_Tea] FOREIGN KEY([TeaId])
REFERENCES [dbo].[Tea] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionHistory] CHECK CONSTRAINT [FK_ProductionHistory_Tea]
GO
ALTER TABLE [dbo].[ProductionHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProductionHistory_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionHistory] CHECK CONSTRAINT [FK_ProductionHistory_User]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Shop] FOREIGN KEY([ShopId])
REFERENCES [dbo].[Shop] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Shop]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Tea] FOREIGN KEY([TeaId])
REFERENCES [dbo].[Tea] ([Id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Tea]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_User]
GO
ALTER TABLE [dbo].[Tea]  WITH CHECK ADD  CONSTRAINT [FK_Tea_Grade] FOREIGN KEY([GradeId])
REFERENCES [dbo].[Grade] ([Id])
GO
ALTER TABLE [dbo].[Tea] CHECK CONSTRAINT [FK_Tea_Grade]
GO
ALTER TABLE [dbo].[Tea]  WITH CHECK ADD  CONSTRAINT [FK_Tea_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Tea] CHECK CONSTRAINT [FK_Tea_Type]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
